In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
url = 'https://raw.githubusercontent.com/yumi-ito/sample_data/master/subject_scores.csv'
df = pd.read_csv(url)
df.head()

   国語  英語  数学  物理  化学  生物  地学  世界史  日本史  経済  地理  倫理
0  49  49  54  54  60  48  56   56   62  52  55  41
1  57  60  48  51  64  60  61   64   67  55  58  54
2  65  68  50  51  54  44  55   59   66  53  61  52
3  55  57  49  51  61  55  58   61   66  53  57  50
4  43  41  45  46  46  33  45   45   56  43  45  31